<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete User</title>
</head>
<body>

<h1>Delete User</h1>
<form method="post">
    <h3><label for ="username">Select User to be deleted:</label></h3>   
    {{range $k, $v := . }}
        <input type="radio" id="html" name=userName value="{{$k}}" required>
        <label>Username: {{$v.Username}}, Name: {{$v.Name}}</label><br>
    {{end}}
    <br>
    <input type="submit">
</form>
{{/* <h2><a href="/">Back to Index</a></h2> */}}
<br>
<input type=button onClick="location.href ='/'" value='Return to Index'>
</body>
</html>