<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WELCOME PAGE</title>
</head>
<body>

<h1>Welcome to GiveNGet System </h1>
{{/* {{end}} */}}
{{if .Username}}  {{/* if user name exist */}}
Welcome User {{.Username}}<br>
Your name is {{.Name}}<br>
{{/*Last Visit :{{.LastLogin}}<br>*/}}

<fieldset>
    <legend>User</legend>
    <input type=button onClick="location.href ='/searchItem'" value='Search List'>
    <br>
    <input type=button onClick="location.href ='/toGiveItem'" value='To Give'>
    <br>
    <fieldset>
        <legend>My Tray</legend>
        <input type=button onClick="location.href ='/myTrayToGive'" value='To Give Items'>
        <br>
        <input type=button onClick="location.href ='/myTrayGiven'" value='Given Items'>
        <br>
        <input type=button onClick="location.href ='/myTrayGotten'" value='Gotten Items'>
        <br>
        <input type=button onClick="location.href ='/myTrayWithdrawn'" value='Withdrawn Items'>
    </fieldset>
</fieldset>
<br>
{{/*<h2><a href="/searchEditBooking">Search and Edit Booking</a></h2>*/}}
 {{/*   {{if eq .Username "admin"}}
    <h2><a href="/searchRemoveBooking">Search and Remove Booking</a></h2>
    <h2><a href="/searchShowAllBooking">Display Sort Ordered Bookings</a></h2>
    <h2><a href="/deleteSession">Delete Session</a></h2>   
    <h2><a href="/deleteUser">Delete User</a></h2>
    {{end}}  */}}
{{/* <h2><a href="/logout">Log Out</a></h2> */}}
<br>
<input type=button onClick="location.href ='/logout'" value='Log Out'>
{{else}}
<h2>Please logged in or sign up for an account</h2>
{{/* <h2><a href="/login">Log in</a></h2>
<h2><a href="/signup">Sign Up</a></h2> */}}
<input type=button onClick="location.href ='/login'" value='Login'>
<br>
<input type=button onClick="location.href ='/signup'" value='Signup'>
<br>
{{end}}

</body>
</html>