<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
</head>
<body>

<h1>Please login to your account</h1>
<form method="post" autocomplete = "off">
    <input type="text" name="username" placeholder="username" maxlength="15" size="15" pattern=(^[A-Za-z])+([A-Za-z0-9]){4,} required>
    <label>At least 5 alpha-numeric characters</label>
    <br>
    <input type="password" name="password" placeholder="password" maxlength="15" size="15" pattern=([A-Za-z0-9]){6,} autocomplete = "off" required>
    <label>At least 6 alpha-numeric characters</label>
    <br>
    <input type="submit">
</form>
{{/* <h2>Or <a href="/signup">Sign Up</a> if you do not have an account</h2> */}}
<h2>Or Sign Up if you do not have an account</h2>
<input type=button onClick="location.href ='/signup'" value='Sign Up'>
</body>
</html>