<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Tray Select</title>
</head>
<body>

<fieldset>
  <legend>User</legend>
    <input type=button onClick="location.href ='/myTrayGiven'" value='Given'>
    <br>
    <input type=button onClick="location.href ='/myTrayGoten'" value='Gotten'>
    <br>
    <input type=button onClick="location.href ='/myWithdrawTray'" value='Withdrawal'>
</fieldset>
<br>
<input type=button onClick="location.href ='/'" value='Return to Index'>

</body>
</html>