<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deleted User</title>
</head>
<body>
<h1>User Deleted</h1>
{{if .}}
    <b>Status :</b> {{.}} deleted<br>
{{end}}
    {{/* <h2><a href="/">Return to Index</a></h2> */}}
    <br>
    <input type=button onClick="location.href ='/'" value='Return to Index'>
</body>
</html>