<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking Result</title>
</head>
<body>
{{if lt .PageType 0}}  {{/* for Error Message*/}}
<h1>Error</h1>
<h2>.Msg</h2>
{{end}}
{{if eq .PageType 1}}  
<h1>Display List</h1>
{{end}}
{{if eq .PageType 2}} 
<h1>Items Withdrawn</h1>
{{end}}
{{if eq .PageType 3}} 
<h1>Items Removed From Tray</h1>
{{end}}
{{if eq .PageType 4}} 
<h1>Items moved to My Tray - Gotten</h1>
{{end}}
{{if eq .PageType 5}} 
<h1>Item Given - Thank you</h1>
{{end}}
{{if eq .PageType 6}} 
<h1>Givers Details</h1>
{{end}}
{{if eq .PageType 7}} 
<h1>Getters Details</h1>
{{end}}


{{if .Msg}}
    <h3>Status :</h3>
    {{range .Msg}}
        {{.}}<br>
    {{end}}
{{end}}
{{if eq .PageType 1}}  
<br>
<input type=button onClick="location.href ='/displaySelect'" value='Back'>
<br>
{{end}}
{{if eq .PageType 6}}  
<br>
<input type=button onClick="location.href ='/myTrayGotten'" value='Back'>
<br>
{{end}}
{{if eq .PageType 7}}  
<br>
<input type=button onClick="location.href ='/myTrayGiven'" value='Back'>
<br>
{{end}}
<br>
<input type=button onClick="location.href ='/'" value='Return to Index'>
</body>
</html>