<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Venue Available</title>
</head>
<body>
<h1>Venue Available</h1>
{{if .}}
    <h2>Venue Selected = {{.Heading}}</h2>
    <ol>
        {{range .Msg}}
            <li>{{.}}</li>
        {{end}}
    </ol>
    <h2><a href="/browseVenue">Back to Browse Venue</a></h2>
{{end}}
<h2><a href="/">Back to Index</a></h2>
</body>
</html>