<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Parameter</title>
</head>
<body>
{{if eq (.Option) ("0") }}
    <h2>Search by Name</h2>
{{end}}
{{if eq (.Option) ("1") }}
   <h2>Search by Venue Type</h2>
{{end}}
{{if eq (.Option) ("2") }}
   <h2>Search by Venue Type and Name</h2>
{{end}}
{{if eq (.Option) ("3") }}
   <h2>Search by Date</h2>
{{end}}
{{if eq (.Option) ("4") }}
   <h2>Search by Date and Time Slot</h2>
{{end}}
{{if eq (.Option) ("6") }}
   <h2>Search by Venue Type, Date and Time Slot</h2>
{{end}}

<form method="post">
{{if eq (.Option) ("0") }}
    {{/* Get User Booking Name */}}
    <b><label for ="name">Enter Name: </label></b><br>
    <input type="text" name="name" placeholder="booking name" maxlength="15" size="15" pattern ="[A-Za-z]+[A-Za-z0-9]?" required><br>
{{end}}

{{if or (eq (.Option) ("1")) (eq (.Option) ("2")) (eq (.Option) ("6")) }}
    <b><label for ="venueType">Select Venue Type</label></b><br>
    {{$defVenueType := .DefVenueType}} {{/* convert int to string var*/}}     
    {{range $k, $v := .VenueType }}
  {{/*      <input type="radio" id="html" name="venueType" value="{{$k}}" required> */}}
        {{if eq $k $defVenueType}} 
            <input type="radio" id="html" name="venueType" value="{{$k}}" checked>
        {{else}}
            <input type="radio" id="html" name="venueType" value="{{$k}}" required>
        {{end}}
        <label for ="{{$v}}">{{$v}}</label><br>
    {{end}}
<br>
{{end}}

{{/* This option is next page */}}
{{if or (eq (.Option) ("5")) (eq (.Option) ("5")) }}
    {{/* Venue Name in the next page  */}}
    <b><label for ="">Enter Venue Name</label></b><br>  
{{end}}

{{if or (eq (.Option) ("3")) (eq (.Option) ("4")) (eq (.Option) ("6")) }}
    {{/* Get Date */}}
    <b><label for ="date">Enter Date</label></b><br>
    {{if .DefDate}} 
       <input type="date" value = {{.DefDate}} name="date" min="2022-01-01" max="2049-12-31" required><br>
    {{else}}
       <input type="date" name="date" min="2022-01-01" max="2049-12-31" required><br>
    {{end}}
{{end}}   

{{if or (eq (.Option) ("4")) (eq (.Option) ("6")) }}
    {{/* Get Time Slot */}}
    <br>
    <b><label for ="timeSlot">Select Time Slot</label></b><br>
    <select name="timeSlot" id="timeSlot" required>  
    {{$defTimeSlot := .DefTimeSlot}} {{/* convert int to string */}}
    {{range $k, $v := .TimeSlot }}   
        {{if eq $k $defTimeSlot}}
           <option value="{{$k}}" selected>{{$v}} </option>
        {{else}}
           <option value="{{$k}}" >{{$v}} </option>
        {{end}}
    {{end}}
    </select>
    <br>
{{end}}

<br>  
<input type="submit">
</form>
{{if lt (.Option) ("5") }} 
<h2><a href="/searchEditBooking">Back to Search Booking</a></h2>
{{end}}
{{if eq (.Option) ("6") }} 
<h2><a href="/searchRemoveBooking">Back to Search Booking</a></h2>
{{end}}
<h2><a href="/">Back to Index</a></h2>
</body>
</html>