<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Record for Operation</title>
</head>
<body>

{{if le (.PageType) (0) }}
<h1>Booking Not Found</h1>
    {{if eq (.PageType) (-2) }}
        <h2>System Error </h2>
    {{end}}
    {{if eq (.PageType) (-1) }}
        <h2>Operation Error</h2>
    {{end}}
    {{if eq (.PageType) (0) }}
        <h2>Search Status</h2>
    {{end}}

    <ul>
        {{range .Msg}}
            <li>{{.}}</li>
        {{end}}
    </ul>
{{end}}

{{if gt (.PageType) (0) }}
<h1>Bookings Found</h1>
    <form method="post">
    {{/* Select Venue Type */}}  
    {{if eq (.PageType) (1) }}
    <h3><label for ="record">Select Record to Edit:</label></h3>  
    {{end}}
    {{if eq (.PageType) (2) }}
    <h3><label for ="record">Select Record to Remove:</label></h3>  
    {{end}}    
    {{range $k, $v := .Msg }}
        <input type="radio" id="html" name="recordNum" value="{{$k}}" required>
        <label for ="{{$v}}">{{$v}}</label><br>
    {{end}}
    <br>
    <input type="submit">
    </form>
{{end}}
{{if eq (.PageType) (1) }}
<h2><a href="/getSearchParameter">Back to Search Parameter</a></h2>
<h2><a href="/searchEditBooking">Back to Search Select</a></h2>
{{end}}
{{if eq (.PageType) (2) }}
<h2><a href="/getSearchParameter">Back to Search Parameter</a></h2>
<h2><a href="/searchRemoveBooking">Back to Search Select</a></h2>
{{end}}
<h2><a href="/">Back to Index</a></h2>
</body>
</html>